header{
    width: 100%;
    position: fixed;
    z-index: 100;
    .header_b{
      background-color: $fiolet1;
    }
    .container{
      height: 130px;
      .logoandh{
        display: flex;
        justify-content: space-between;
        .logo{
          padding-top: 57px;
          height: 130px;
          margin-left: 62px;
        }
        .menu{
          margin-top: 56px;
          margin-right: 27px;
          max-width: 488px;
        }
        .header_list{
          margin-top: 4px;
          display: flex;
          justify-content: space-between;
          li{
            list-style: none;
            text-decoration: none;
            width: min-content;
          }
          a{
            color: $white;
            text-decoration: none;
          }
          .home{
            margin-left: -2px;
          }
          .menuheaderlink{
            padding: 6px 17px;
            width: min-content;
          }
          .menuheaderlink:hover{
            height: 32px;
            background-color: $fiolet2;
            padding: 6px 17px;
            border-radius: 10%;
          }
          .headerlink{
            height: 13px;
            letter-spacing: 1.2px;
          }
      }
  
      }
    }
  }