$fiolet1: #cc66ff;
$fiolet2: #643a79;
$fiolet3: #87509c;
$fiolet4: #d74680;
$white: white;
$white2: #f7f3ea;
$white3: #e7f1f8;
$white4: #ffffff;
$white5: #ebcb8d;
$grey: #878787;
$grey2: #787878;
$cyan: #17c2a4;
$black: #000000;
$black2: #393939;
$blue1: #3c4761;
$blue2: #30bae7;
$blue3: #344b8e;
$yellow: #ffdd99;