@font-face {
  font-family: "Titillium Web";
  src: url(../fonts/TitilliumWeb-Regular.ttf);
}

@import "variables";

@import "body";

@import "header";

@import "hiblock";

@import "services";

@import "BTeam";

@import "skills";

@import "portfilio";

@import "what";

@import "getintouch";

@import "footer";

.toppp{
  top: -75px;
  position: relative;
}